# Pandas

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in d:\work\projportfolio\ai_and_ml\venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\work\projportfolio\ai_and_ml\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\work\projportfolio\ai_and_ml\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.5 MB 11.2 MB/s eta 0:00:01
   -------------- ------------------------- 4.2/11.5 MB 13.2 MB/s eta 0:00:01
   -------------------- ------------------- 6.0/11.5 MB 11.9 MB/s eta 0:00:01
   ------------------------ --------------- 7.1/11.5 MB 9.3 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.5 MB 8.9 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 8.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 9.0 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [2]:
import pandas as pd

In [3]:
# Series
# 1d array-like object that can hold any data type
# 1. Create a Series from a list

s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# create a Series from a dictionary
series = pd.Series({'a': 1, 'b': 2, 'c': 3})
print(series)
print(type(series))  # <class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# dataframe

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [7]:
df['name']

0      Alice
1        Bob
2    Charlie
Name: name, dtype: object

In [8]:
type(df['name'])  # <class 'pandas.core.series.Series'>

pandas.core.series.Series

In [11]:
df.loc[0]  # first row of the dataframe

name       Alice
age           25
city    New York
Name: 0, dtype: object

In [15]:
df.iloc[0:1,:1]  # first c0lumn of the dataframe # diff between loc and iloc
# loc is label-based indexing, iloc is position-based indexing  
# loc[0] returns the first row, iloc[0] returns the first column

    name
0  Alice

In [18]:
# iat
df.iat[0, 0]  # first row and first column of the dataframe
# iat is used for getting a single value for a row/column label pair

'Alice'

In [19]:
# at
df.at[0, 'age']  # first row and first column of the dataframe
# at is used for getting a single value for a row/column label pair

np.int64(25)

In [20]:
df['salary'] = [50000, 60000, 70000]  # add a new column to the dataframe
print(df)

      name  age         city  salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [21]:
df.drop('salary', axis=1, inplace=True)  # drop a column from the dataframe

In [22]:
df

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago