In [1]:
# sets are used tp store unique elements 
# they are unordered and unindexed

# creating a set
my_set = {1, 2, 3, 4, 5}
print(type(my_set))  # Output: {1, 2, 3, 4, 5}

<class 'set'>

In [2]:
# creating an empty set

empty_set = set()
print(type(empty_set))

<class 'set'>

In [3]:
# sets ignore duplicates
my_set = {1, 2, 3, 4, 5, 5, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
# adding elements to a set

my_set.add(6)

In [6]:
# removing elements from a set

my_set.remove(10)  # raises KeyError if the element is not found

KeyError: 10

In [7]:
my_set.discard(10)  # does not raise an error if the element is not found

In [8]:
popped_element = my_set.pop() # FIFO
print(popped_element)

1

In [9]:
# Clearing a set

my_set.clear()

In [10]:
# Set membership test

my_set = {1, 2, 3, 4, 5}
print(1 in my_set)  # Output: True

True

In [12]:
# mathematical operation

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
intersection = set1.intersection(set2)
print(intersection)

{4, 5, 6}

In [15]:
### difference between intersection and intersection_update

print(set1)
set1.intersection_update(set2)  # modifies set1 in place
print(set1)

{1, 2, 3, 4, 5, 6}
{4, 5, 6}

In [17]:
set1 = {1,2,3,4,5,6}

In [ ]:
# Difference in sets

difference = set1.difference(set2)  # returns a new set with elements in set1 but not in set2
print(difference)

{1, 2, 3}

In [ ]:
# symmetric difference

set1.symmetric_difference(set2) # return the unique elements in each sets (removes intersection elements)

{1, 2, 3, 7, 8, 9}

In [22]:
# set methods

set1 = {1,2,3,4,5}

set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True