In [1]:
# Tuples
# ordered and immutable

empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [3]:
# can store dissimilar elements

mixed_tuple= (1,"Nim",True)

for i in mixed_tuple:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'bool'>

In [4]:
numbers = (1,2,3,4,5)

In [5]:
# Tuple operations

new_tuple = mixed_tuple + numbers

In [6]:
new_tuple = new_tuple * 3

new_tuple

(1,
 'Nim',
 True,
 1,
 2,
 3,
 4,
 5,
 1,
 'Nim',
 True,
 1,
 2,
 3,
 4,
 5,
 1,
 'Nim',
 True,
 1,
 2,
 3,
 4,
 5)

In [7]:
# Tuples are immuatable

numbers[1] = "Krish"

TypeError: 'tuple' object does not support item assignment

In [9]:
# Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [10]:
# Packing and Unpacking tuple

packed_tuple = 1,2,"Heloo"
print(packed_tuple)

(1, 2, 'Heloo')

In [12]:
# UNpacking a tuple

a, b, c = packed_tuple

first, *middle, last = numbers

print(a,b,c)
print(first, middle, last)

1 2 Heloo
1 [2, 3, 4] 5